{% extends 'recipes/base.html' %}

{% block content %}
    <h2 style="text-align: center; font-size: 32px; font-family: Geneva, sans-serif; color: palevioletred;">{{ recipe.name }}</h2>
    <p style="font-weight: bold; font-size: 19px; text-align: center;">Cooking Time: {{ recipe.cooking_time_hours }} hours and {{ recipe.cooking_time_minutes }} minutes</p>

    <h3>Instructions:</h3>
    <p>
        <a href="{% url 'recipes:add_instructions' recipe.id %}">Add Instructions</a>
    </p>
    <ol>
        {% for instruction in instructions %}
            <li>
                {{ instruction.instruction_text }}
                <p>
                    <a href="{% url 'recipes:edit_instructions' instruction.id %}">Edit Instruction</a>
                    <a href="{% url 'recipes:delete_instruction' instruction.id %}" style="color:red;">Delete Instruction</a>
                </p>
            </li>
        {% empty %}
            <li>No instructions available.</li>
        {% endfor %}
    </ol>
    <h4>Ingredients:</h4>
    <p>
        <a href="{% url 'recipes:add_ingredient' recipe.id %}">Add Ingredients</a>
    </p>
    <ul>
        {% for ingredient in ingredients %}
            <li>
                {{ ingredient.quantity }} {{ ingredient.unit }} of {{ ingredient.name }}
                <p>
                    <a href="{% url 'recipes:edit_ingredient' ingredient.id %}">Edit Ingredient</a>
                    <a href="{% url 'recipes:delete_ingredient' ingredient.id %}" style="color: red;">Delete Ingredient</a>
                </p>
            </li>
        {% empty %}
            <li>There are no ingredients added for this recipe yet.</li>
        {% endfor %}
    </ul>
{% endblock content %}
