{% extends 'recipes/base.html' %}

{% block page_header %}
    <h1>Recipes</h1>
{% endblock page_header %}

{% block content %}
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for recipe in recipes %}
            <div class="col">
                <div class="card h-100">
                    {% if recipe.image_url %}
                        <img src="{{ recipe.image_url }}" class="card-img-top" alt="{{ recipe.name }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ recipe.name }}</h5>
                        <p class="card-text">Cooking Time: {{ recipe.cooking_time_hours }}h {{ recipe.cooking_time_minutes }}m</p>
                        <a href="{% url 'recipes:recipe_detail' recipe.id %}" class="btn btn-primary">View Recipe</a>
                        <a href="{% url 'recipes:delete_recipe' recipe.id %}" class="btn btn-danger btn-sm">Delete</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>No recipes have been added yet.</p>
        {% endfor %}
    </div>
    <a href="{% url 'recipes:new_recipe' %}" class="btn btn-success mt-3">Add a new recipe</a>
{% endblock content %}
